<h1>Home#index</h1>

<ul>
	<li><%= link_to 'Users', users_path, { :title => "Users"} %></li>
	<li><%= link_to 'Topics', topics_path, { :title => "Topics"} %></li>
	<li><%= link_to 'Posts', posts_path, { :title => "Posts"} %></li>
</ul>